body {
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tittle {
    color: #fff;
    font-size: 60px;
    background-color: goldenrod;
    padding: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.left-content, .right-content {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 16px;
    margin: 0;
    gap: 16px;
}

img {
    border: 1px inset black;
}

h3, h4 {
    margin: 0;
    font-size: 20px;
}

.text {
    margin: 0px;
    font-size: 20px;
}

.footer {
    margin: 0;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}