body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 101px;
  background-color: goldenrod;
  padding: 16px 30px;
}

.logo,
.dummyLogo {
  max-height: 65px;
  border-radius: 250px;
  border: 2px solid #ffffff;
}

.logo:hover {
  transform: rotate(180deg);
  transition: all 2.0s;
  cursor: help;
}

.tittle {
    color: #fff;
    font-size: 60px;
    margin: 0px 0px;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 70px 20px 20px;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 0 auto;
}

.content-image {
    width: 350px;
    height: 350px;
    border: 5px solid goldenrod;
    border-radius: 25%;
}

ul {
    list-style: none;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.text {
    background-color: goldenrod;
    color: #fff;
    font-size: 20px;
    width: 350px;
    border: 2px solid black;
    margin-top: 15px;
}

.footer {
  padding: 16px 0;
  background-color: goldenrod;
  color: white;
  font-size: 20px;
}